.screensControlContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@media screen and (min-width: 768px) {
    .screensControlContainer{
        width: 768px;
    }
}