.itemContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    max-width: 100%;
    overflow: hidden;
}

.screenNameWrapper{
    flex: 1;
    max-width: 70%;
}

.screenName{
    max-width: 100%;
    display: -webkit-box;
    white-space: break-spaces;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.screenName:hover{
    text-decoration: underline;
}

.screenType{
    font-weight: 400 !important;
    color: #00000099

}

.actionButtons{
    display: flex;
    gap: 5px;
}


.btn{
    white-space: nowrap !important;
}



