.modal{
    width: 95%;
    overflow: hidden;
}

.btnsContainer{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.text{
    margin: 15px 0;
}

@media screen and (min-width: 510px){
    .modal{
        width: 505px !important;
    }
}