.profileContainer{
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileContentBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}