.loginFormContainer{
    width: 300px;
    padding: 18px;
}

.loginTitle{
    display: flex;
    align-items: center;
    gap: 5px;
}

.loginFormInputsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.buttonFormContainer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}