:root{
    --background: #ffffff;
    --principal-color: #0096F5;
    --secondary-color: #163B78;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}